<div class="container">
  <div class="col-md text-center">
    <h2>Sign in</h2>
    <p><%= flash[:error] %></p>
    <%= form_tag login_path do %>
    <div class="mb-3">
      <%= label_tag :email %>: <%= email_field_tag :email, nil, :autofocus =>
      true %>
    </div>
    <div class="mb-3">
      <%= label_tag :password %>: <%= password_field_tag :password %>
    </div>
    <%= submit_tag "Sign in", class: "btn btn-primary addbutton" %> <% end %>
  </div>
</div>
