<p>Choose your city:</p>
<%= form_tag("/restaurants", :method => 'get') do %>
<div class="container text-center topmarigin">
  <div class="citytag row justify-content-center">
    <% @cities.each do |city| %>
    <div
      class="optionset nametag col-md-3 shadow-none p-3 mb-5 bg-body-tertiary rounded"
    >
      <%= label_tag do %>
      <span
        ><%= image_tag city.image, class: "cover" %>
        <div>
          <%= radio_button_tag :city, city.id, false, :required => true %><%=
          city.name %>
        </div></span
      >
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<p>Choose the category:</p>
<div class="container text-center">
<div class="d-flex flex-wrap justify-content-center">
    <% @categories.each do |category| %> 
    <div
      class="optionset nametag categoryset shadow-none p-2 mb-3 bg-body-tertiary rounded"
    ><div class="col-md-1"></div>
    <%= label_tag do %>
      <%= radio_button_tag :category, category.id, false, :required => true
      %><%= category.name %>
    </div>
    <div class="col-md-1"></div>
    <% end %> <% end %>
    <div></div>
  </div>
</div>

<div class="container">
  <div class="col-md text-center">
    <%= submit_tag "Search", class: "btn btn-info addbutton searchbutton" %>
  </div>
</div>
<% end %>
</div>

