<% unless @current_user.present? %> 
    <br /><br />
<% end %>
<% if @current_user.present? %> 
    <% unless @current_user.admin? %>
    <br /><br />
    <% end %> 
<% end %> 

<% if @current_user.present? %> 
    <% if @current_user.admin? %>
<div class="controls">
<br />

<%= link_to 'New restaurant', new_restaurant_path(@restaurant), class: "userbutton btn addbutton shadow p-3 mb-5 bg-body-tertiary rounded" %>
    </div>
    <% end %> 
<% end %>



<% @cities.each do |city| %>
<div class="container text-center">
<h2 class="text-black"><%= city.name %></h2>
  <div class="row align-items-center">
    <% city.restaurants.each do |restaurant| %>
    <div class="col-md-3">
      <%= link_to restaurant, target: :_blank do %>
      <div class="logoset">
        <%= image_tag(restaurant.logo, class: "logo") %>
        <div><%= restaurant.name %></div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>