<div class="container restaurantset text-center">
  <div class="row align-items-center">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <%= image_tag @restaurant.image, class: "img-fluid imageset" %>
    </div>

    <ul class="col-md-5 selectionbutton">
      <p class="keyname"><%= @restaurant.name %></p>
      <p class="description showfont information"><%= @restaurant.description %></p>
      <p class="showfont information"><strong>Category</strong>: <%= @category_name %> cuisines</p>
      <p class="showfont information"><strong>Google Reivew rating</strong>: <%= @rating %></p>
      <p class="showfont information">
        <strong>Current local weather</strong>: <%= @description %>, <%=
        @temperature.to_i %>°C
      </p>
      <p class="showfont information"><strong>Address</strong>: <%= @restaurant.address %></p>
      <p class="showfont information">
        <strong>Website</strong>: <%= link_to @restaurant.website,
        @restaurant.website, target: :_blank %>
      </p>
    </ul>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container selectionbutton">
  <div class="col-md text-center">
    <div class="controls">
      <% if @previous_restaurant.present? %> <%= link_to "<",
      restaurant_path(@previous_restaurant), class: "btn addbutton
      shadow p-3 mb-5 bg-body-tertiary rounded" %> <% end %> <% if
      @next_restaurant.present? %> <%= link_to ">",
      restaurant_path(@next_restaurant), class: "btn addbutton shadow
      p-3 mb-5 bg-body-tertiary rounded" %> <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md text-center">
    <% if @current_user.present? %> <% if @current_user.admin? %>
    <div class="controls">
      <%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant), class:
      "addbutton btn shadow p-3 mb-5 bg-body-tertiary rounded" %> <%=
      link_to 'Delete restaurant', @restaurant, class: "btn addbutton
      shadow p-3 mb-5 bg-body-tertiary rounded", :method => 'delete', :data =>
      {:confirm => 'Are you sure?'} %>
    </div>
    <% end %> <% end %>
  </div>
</div>


