<!DOCTYPE html>
<html>
  <head>
    <title>Eatgo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <%= link_to 'Home', root_path %> &nbsp&nbsp&nbsp
    <%# <%= link_to 'Restaurants',  %> %>
      <% if @current_user.present? %>
        <%= link_to 'My Page', my_page_path unless @current_user.admin? %> &nbsp&nbsp
          <% if @current_user.admin? %>
            <%= link_to 'Admin Page', users_path %> &nbsp&nbsp&nbsp&nbsp
          <% end %>
            &nbsp<%= link_to "Sign out: #{ @current_user.email }", login_path, :method => 'delete' %> 
      <% else %>
            <%= link_to 'Sign up', new_user_path %>
            &nbsp&nbsp&nbsp
            <%= link_to 'Sign in', login_path %>
      <% end %>
    </nav>


    <%= yield %>
  </body>
</html>
