<!DOCTYPE html>
<html>
  <head>
    <title>Eatgo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <%= link_to 'Home', root_path, class: "nav-link" %> &nbsp&nbsp
    <%= link_to 'Restaurants', display_path, class: "nav-link" %> &nbsp&nbsp
          <% if @current_user.present? %>
        <%= link_to 'My Page', my_page_path, class: "nav-link" unless @current_user.admin? %> &nbsp
          <% if @current_user.admin? %>
          <% end %>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "Sign out: #{ @current_user.email }", login_path, :method => 'delete', class: "nav-link" %> 
      <% else %>
            <%= link_to 'Sign up', new_user_path, class: "nav-link" %>
            &nbsp&nbsp
            <%= link_to 'Sign in', login_path, class: "nav-link" %>
      <% end %>
    </nav>


    <%= yield %>
  </body>
</html>
